/*
    Default file for LandscapeFramework
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126 | Edited
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: flex; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.ls-grid-row .is-1 {
  width: 8.33333vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-2 {
  width: 16.66667vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-3 {
  width: 25vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-4 {
  width: 33.33333vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-5 {
  width: 41.66667vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-6 {
  width: 50vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-7 {
  width: 58.33333vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-8 {
  width: 66.66667vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-9 {
  width: 75vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-10 {
  width: 83.33333vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-11 {
  width: 91.66667vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row .is-12 {
  width: 100vw;
  display: inline-flex;
  margin-left: 4px;
  box-sizing: border-box; }

.ls-grid-row {
  display: flex !important; }

.is-gapless .is-1 {
  margin: 0px !important; }

.is-gapless .is-2 {
  margin: 0px !important; }

.is-gapless .is-3 {
  margin: 0px !important; }

.is-gapless .is-4 {
  margin: 0px !important; }

.is-gapless .is-5 {
  margin: 0px !important; }

.is-gapless .is-6 {
  margin: 0px !important; }

.is-gapless .is-7 {
  margin: 0px !important; }

.is-gapless .is-8 {
  margin: 0px !important; }

.is-gapless .is-9 {
  margin: 0px !important; }

.is-gapless .is-10 {
  margin: 0px !important; }

.is-gapless .is-11 {
  margin: 0px !important; }

.is-gapless .is-12 {
  margin: 0px !important; }

.ls-grid-row:last-child {
  margin-right: 4px; }

.ls-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.3); }
