// import
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

// COLORS

$ls-default-fg: #000;
$ls-color-fg:   #FFF;

$ls-primary-bg: rgb(50, 205, 255);
$ls-default-bg: rgb(250, 250, 250);
$ls-success-bg: rgb(50, 200, 80);
$ls-warning-bg: rgb(255, 120, 0);
$ls-danger-bg:  rgb(255, 60, 0);

$ls-border-color: rgba(0,0,0,0.25);

// FONT
$ls-font-stack: 'Roboto', sans-serif;

// MISC


// SIZES
